.cardContainer {
  padding: 0;
  text-align: left;
  display: flex;
  gap: 20px;
  width: 90%;
}

.cardImage {
  margin-top: 10px;
}

.cardTitle {
  margin: 0;
  min-width: 0;
  line-height: 1.5;
  font-size: 20px;
  color: var(--color-title);
  margin-bottom: 10px;
}
.cardParagraph {
  font-size: 15px;
  line-height: 1.8;
}
