.cardContainer {
  padding: 0;
  text-align: left;
  @media (max-width: 640px) {
    text-align: center;
  }
}

.cardImage {
  max-width: 100%;
  height: auto;
  margin-bottom: -2rem;
}

.cardTitle {
  line-height: 1.5;
  font-size: 2rem;
  color: var(--color-title);
  margin-bottom: 1rem;
}

.cardParagraph {
  font-size: 1.5rem;
  line-height: 1.8;
}
