.cardContainer {
  padding: 0;
  text-align: left;
}

.cardImage {
  max-width: 100%;
  height: auto;
  margin-bottom: -1.25rem;
}

.cardTitle {
  margin: 0;
  min-width: 0;
  line-height: 1.5;
  font-size: 1.25rem;
  letter-spacing: -0.0344rem;
  color: var(--color-title);
  margin-bottom: 0.625rem;
}

.cardParagraph {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-size: 0.9375rem;
  line-height: 1.8;
}
