.cardContainer {
  padding: 0;
  text-align: left;
  display: flex;
  gap: 1.25rem;
  width: 90%;
}

.cardImage {
  margin-top: 0.625rem;
}

.cardTitle {
  margin: 0;
  min-width: 0;
  line-height: 1.5;
  font-size: 1.25rem;
  color: var(--color-title);
  margin-bottom: 0.625rem;
}
.cardParagraph {
  font-size: 0.9375rem;
  line-height: 1.8;
}
