.bottom_area {
  border-top: 0.0625rem solid var(--color-secondary);
  display: flex;
  flex-direction: column;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  text-align: center;
}

.menu {
  margin-top: 0.1875rem;
  margin-bottom: 0.125rem;
  & > nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.link {
  font-size: 0.9375rem;
  font-weight: 700;
  margin-bottom: 0.125rem;
  cursor: pointer;
  transition: all 0.35s;
  display: block;
  line-height: 1.5;
  padding: 0.625rem;
  color: var(--color-secondary);
  &:hover {
    color: var(--color-primary);
  }
}

.copyright {
  font-size: 1rem;
  width: 100%;
  font-weight: 700;
  color: var(--color-secondary);
}
