@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap");

:root {
  --color-primary: #ea3a60;
  --color-secondary: #343d48;
  --color-title: #0f2137;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Overriding package CSS */

/* react modal video */
.modal-video-close-btn {
  cursor: pointer;
}

/* react multi carousel */
.carousel-container {
  width: 100% !important;
}

/* nprogress */
#nprogress .bar {
  height: 0.1875rem !important;
}
