.headerUpper {
  padding: 10rem 5rem 5rem 3rem;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  @media (max-width: 700px) {
    padding: 10rem 1rem 3rem 1rem;
    width: 90%;
  }
}

.headerPara {
  font-size: 17px;
  line-height: 1.9;
  font-weight: 300;
  margin-bottom: 25px;
  color: var(--color-secondary);
  text-align: center;
  @media (max-width: 360px) {
    font-size: 14px;
  }
}

.headerLower {
  background-image: url("/shape-left.png"), url("/shape-right.png");
  background-position: bottom left, bottom right;
  background-repeat: no-repeat, no-repeat;
  background-size: 36%, 32%;
}

.bannerImage {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
