.pricingBox {
  border-radius: 1.25rem;
  position: relative;
  transition: all 0.3s;
  padding: 2.1875rem 1.5625rem;
  width: 100%;
  margin: 2.5rem 0.625rem 0.3125rem 0.625rem;
  min-height: 25.75rem;
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    border: 0.0625rem solid #264e761a;
    border-radius: inherit;
    transition: all 0.3s;
    z-index: -1;
  }
  &:hover {
    box-shadow: 0rem 0.25rem 1.5625rem #264e761a !important;
    &::before {
      opacity: 0;
    }
  }
}

.pricingHeader {
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.875rem;
  p {
    font-size: 1rem;
  }
}

.listIcon {
  width: 1.5625rem;
  height: auto;
  color: var(--color-primary);
  padding: 0;
  font-size: 1.25rem;
  flex-shrink: 0;
  justify-content: flex-start;
}

.price {
  font-size: 1.5rem;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.25rem;
  & > span {
    position: relative;
    padding-left: 0.1875rem;
    display: inline-block;
    font-size: 1rem;
    font-weight: normal;
  }
}

.buttonGroup {
  text-align: center;
  margin-top: 0.9375rem;
}

.freeTrial {
  color: var(--color-secondary);
  width: 100%;
  font-weight: 700;
  font-size: 1rem;
  padding: 0.3125rem 0;
  cursor: pointer;
}
