.pricing {
  padding: 6.25rem 0;
}

.pricingHead {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  margin-bottom: 0.4375rem;
  margin-top: -2.1875rem;
  position: relative;
  z-index: 2;
}

.buttonGroupInner {
  display: flex;
  padding: 0.4375rem;
  margin: 0 auto;
  border-radius: 0.3125rem;
  background-color: #f7f8fb;
  button {
    border: 0;
    padding: 0.9375rem 1.6875rem;
    border-radius: 0.3125rem;
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 700;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s;
    &:focus {
      outline: 0;
    }
  }
}

.activeBtn {
  color: var(--color-title);
  background-color: #fff;
  box-shadow: 0 0.1875rem 0.25rem rgba(38, 78, 118, 0.1);
}

.pricingWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.pricingItem {
  display: flex;
  flex-shrink: 0;
  flex: 1 1 auto;
}
