.buttonGroupContainer {
  display: flex;
  width: 100%;
}

.buttonGroupSlider {
  display: flex;
  justify-content: center;
  margin-bottom: -0.4rem;
  @media (min-width: 1023px) {
    display: none;
  }
  & > button {
    background: transparent;
    border: 0px solid;
    font-size: 4rem;
    cursor: pointer;
    padding: 2px;
    color: #bbc7d7;
    transition: all 0.25s;
    & > svg {
      font-size: 4rem;
    }
    &:hover {
      color: #000000;
    }
    &:focus {
      outline: 0;
    }
  }
}
