.rating {
  margin-bottom: 0.0625rem;
  & > ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    display: flex;
  }
  & > svg {
    margin-right: 0.125rem;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.star {
  margin-right: 0.0625rem;
  color: var(--color-primary);
}

.star_o {
  margin-right: 0.0625rem;
  color: #ddd;
}
