.sectionSubTitle {
  margin: 0;
  min-width: 0;
  font-size: 14px;
  color: #ea3a60;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 1.5;
  opacity: 1;
}
