.services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  @media (max-width: 1080px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.serviceLeft {
  position: relative;
}

.serviceLeftImage {
  max-width: 100%;
  height: auto;
  padding: 0 3rem 3rem 3rem;
  z-index: -100;
  margin-top: -1rem;
  position: relative;
  @media (max-width: 1080px) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

.videoBtn {
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border-color: transparent;
  background-color: transparent;
  color: #ffffff;
  &::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    opacity: 0.5;
    animation: playPluse 1.5s ease-out infinite;
    background-color: var(--color-primary);
  }
  & > span {
    background-color: #ffffffb3;
    width: 10rem;
    height: 10rem;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
  }
  svg {
    font-size: 6.2rem;
  }
}

@keyframes playPluse {
  from {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  to {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

.serviceRight {
  padding: 0 5rem 0 0;
  @media (max-width: 1080px) {
    padding: 0 5rem;
    text-align: center;
  }
  @media (max-width: 450px) {
    padding: 0 2rem;
    text-align: center;
  }
  h3 {
    font-size: 3.5rem;
    text-align: left;
    @media (max-width: 1080px) {
      text-align: center;
    }
    @media (max-width: 486px) {
      font-size: 3rem;
    }
    @media (max-width: 340px) {
      font-size: 2.5rem;
    }
  }
}

.serviceCard {
  margin-top: 3rem;
}
