.services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.25rem;
  @media (max-width: 67.5rem) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.serviceLeft {
  position: relative;
}

.serviceLeftImage {
  max-width: 100%;
  height: auto;
  padding: 0 1.875rem 1.875rem 1.875rem;
  z-index: -100;
  margin-top: -0.625rem;
  position: relative;
  @media (max-width: 67.5rem) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

.videoBtn {
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  border-color: transparent;
  background-color: transparent;
  color: #ffffff;
  &::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    opacity: 0.5;
    animation: playPluse 1.5s ease-out infinite;
    background-color: var(--color-primary);
  }
  & > span {
    background-color: #ffffffb3;
    width: 6.25rem;
    height: 6.25rem;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
  }
  svg {
    font-size: 3.875rem;
  }
}

@keyframes playPluse {
  from {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  to {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

.serviceRight {
  padding: 0 3.125rem 0 0;
  @media (max-width: 67.5rem) {
    padding: 0 3.125rem;
  }
  h3 {
    font-size: 2.1875rem;
  }
}

.serviceCard {
  margin-top: 1.875rem;
}
