.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.teamGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.875rem;
  @media (max-width: 64rem) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 25rem) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: ease-in-out 0.4s;
  border-radius: 0.5rem;
  position: relative;
  padding: 1.875rem 3.125rem;
  &:hover {
    box-shadow: 0 0.25rem 0.625rem #27537b1f;
    .icon {
      opacity: 1;
    }
    .name,
    .designation {
      color: var(--color-primary);
    }
  }
}

.memberThumb {
  max-width: 8.125rem;
  max-height: 8.125rem;
  flex-shrink: 0;
  border: 0.125rem solid var(--color-primary);
  border-radius: 50%;
}

.infoWrapper {
  width: 100%;
  text-align: center;
  margin-top: 0.25rem;
}

.name {
  font-size: 1rem;
  line-height: 1.35;
  transition: color 0.25s;
  margin: 0.7rem 0;
}

.designation {
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1.5;
  color: var(--color-secondary);
  transition: color 0.25s;
}
.socialShare {
  position: absolute;
  right: 0.9375rem;
  bottom: 0.9375rem;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.25s;
  padding-top: 0.125rem;
}

.icon {
  color: var(--color-primary);
  line-height: 1em;
  transition: all 0.25s;
  padding-top: 0.9375rem;
  opacity: 0;
  &:hover {
    color: var(--color-primary);
  }
}
