.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.teamGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 523px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: ease-in-out 0.4s;
  border-radius: 0.8rem;
  position: relative;
  padding: 3rem 5rem;
  &:hover {
    box-shadow: 0 0.4rem 1rem #27537b1f;
    .icon {
      opacity: 1;
    }
    .name,
    .designation {
      color: var(--color-primary);
    }
  }
}

.memberThumb {
  max-width: 13rem;
  max-height: 13rem;
  flex-shrink: 0;
  border: 2px solid var(--color-primary);
  border-radius: 50%;
}

.infoWrapper {
  width: 100%;
  text-align: center;
  margin-top: 0.4rem;
}

.name {
  font-size: 1.6rem;
  line-height: 1.35;
  transition: color 0.25s;
  margin: 1.12rem 0;
}

.designation {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  color: var(--color-secondary);
  transition: color 0.25s;
}
.socialShare {
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.25s;
  padding-top: 2px;
}

.icon {
  color: var(--color-primary);
  line-height: 1em;
  transition: all 0.25s;
  padding-top: 1.5rem;
  opacity: 0;
  &:hover {
    color: var(--color-primary);
  }
  & > svg {
    font-size: 1.5rem;
  }
}
