.buttonGroupContainer {
  display: flex;
  width: 100%;
}

.buttonGroupSlider {
  display: flex;
  justify-content: center;
  margin-bottom: -0.25rem;
  & > button {
    background: transparent;
    border: 0rem solid;
    font-size: 2.5rem;
    cursor: pointer;
    padding: 0.125rem;
    color: #bbc7d7;
    transition: all 0.25s;
    &:hover {
      color: black;
    }
    &:focus {
      outline: 0;
    }
  }
}
